# Корневой файл EditorConfig
root = true

# Для всех файлов используем unix-совместимые переносы строк
[*]
end_of_line = lf
insert_final_newline = true

# отступы в 2 пробела
[*.py]
indent_style = space
indent_size = 2

# Используем табы для отступов (Не указываем размер)
[*.jsx]
indent_style = tab

# Перезависываем настройку отступов для js файлов в папке lib
[lib/**.jsx]
indent_style = space
indent_size = 2

# Только для файлов package.json or .travis.yml
[{package.json,.travis.yml}]
indent_style = space
indent_size = 2

