.item {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.icon {
  cursor: pointer;
  transition: opacity 0.3s;
}

.icon:hover {
  opacity: 0.5;
}

.item_hover {
  opacity: 0;
}
