.Ingredients {
  display: flex;
  flex-direction: column;
  max-width: 600px;
  width: 100%;
}

.Ingredients-tabs {
  display: flex;
  list-style: none;
}

.Ingredients-list {
  padding: 0;
  margin-bottom: 0;
  list-style: none;
  display: flex;
}