.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 180px;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 24px;
}

.text {
  display: flex;
  gap: 8px;
}

.link {
  padding: 0;
  flex-grow: 0;
}
