.ingredient {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 272px;
  width: 100%;
  box-sizing: border-box;
  text-align: center;
  position: relative;
  cursor: pointer;
}

.ingredient:hover {
  box-shadow: 0px 0px 10px 2px rgba(255, 255, 255, 0.2), 0px 0px 10px -2px rgba(255, 255, 255, 0.2)
}

.image {
  width: 240px;
  height: 120px;
}

.price {
  display: flex;
  justify-content: center;
  gap: 8px;
}