.image {
  width: 480px;
  height: 240px;
}

.info_list {
  list-style: none;
  margin: 0;
  padding: 0;
  margin-top: 32px;
  display: flex;
  justify-content: space-between;
  gap: 28px;
  width: 100%;
}

.info_item {
  max-width: 120px;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: center;
}